@import url("https://fonts.googleapis.com/css2?family=Genos&family=Kanit&family=Montserrat:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  background-color: #e5e5e5;
}

#content {
  display: grid;
  grid-template-rows: 10% 90%;
  align-items: center;
  text-align: center;
  font-family: "Genos", sans-serif;
}

#header {
  font-size: 90px;
}

.rule1,
.rule2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.rule1 > div {
  height: 30px;
  width: 30px;
  border: solid 1px black;
  background-color: red;
}

.rule2 > div {
  height: 30px;
  width: 30px;
  border: solid 1px black;
  background-color: green;
}

.gameBody {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: #e5e5e5;
  gap: 20px;
}

.gameBoard {
  display: grid;
  grid-template-columns: repeat(10, 60px);
  grid-template-rows: repeat(10, 60px);
  gap: 3px;
  margin: 15px 0px;
}

.gameBoard > div {
  background-color: #ffffff;
  border: solid 1px black;
}

h2 {
  font-size: 45px;
}

dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  font-size: 25px;
  padding: 30px 40px;
  border-radius: 10px;
}

#detailsForm > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 25px 0px;
}

#playerName {
  width: 250px;
  resize: none;
  padding: 5px;
}

.detailsHeading {
  padding-bottom: 10px;
}

label {
  font-size: 32px;
}

button {
  padding: 5px;
  font-size: 20px;
}
